version: '3.8'
services:
  
  restapi:
        build: nginx
        ports:
          - 80:80
        depends_on:
          - api
          
  api:
    build: .
    command: uvicorn app.main:app --reload --host 0.0.0.0 --port 8000
    ports:
      - 8000:8000
    environment:
      - PORT=8000     
    volumes:
      - ./app:/code/app
    depends_on:
      - db

  db:
    restart: always
    image: postgres:14.1-alpine
    container_name: postgres-container #you can change this
    environment:
      - POSTGRES_USER=practicasiei
      - POSTGRES_PASSWORD=practicasiei
      - POSTGRES_DB=practicasiei
      - POSTGRES_PORT=5432
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/

  pgadmin:
      image: dpage/pgadmin4
      container_name: pgadmin-container
      depends_on:
        - db
      ports:
        - 5051:5051
      environment:
        PGADMIN_DEFAULT_EMAIL: practicas@iei.com
        PGADMIN_DEFAULT_PASSWORD: practicasiei
      restart: always

volumes:
  postgres_data:
